/* src/Bienvenidos.css */
.bienvenidos {
    background-color: rgba(255, 255, 255, 0.8);
    /* Fondo semi-transparente */
    padding: 50px;
    overflow: hidden;
    /* Elimina el scroll visible en este contenedor */
    height: 100vh;
    /* Asegura que el contenedor no cause scroll por exceso de altura */
    box-sizing: border-box;
    /* Asegura que el padding no cause desbordamiento */
}

.bienvenidos h1 {
    font-size: 3rem;
    color: #333;
}

.bienvenidos p {
    font-size: 1.5rem;
    color: #666;
}