/* src/Carrusel.css */
.carrusel-container {
    width: 100%;
    height: 97vh;
    /* Ocupa solo el 60% de la altura de la pantalla */
    position: relative;
    /* Posiciona los elementos dentro */
}

.carousel .slide {
    height: 100%;
    /* Asegura que las imágenes ocupen toda la altura del carrusel */
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frase-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centra perfectamente */
    text-align: center;
    color: white;
    z-index: 1;
    /* Asegura que la frase esté por encima del carrusel */
}

.frase-container h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.frase-container p {
    font-size: 1.5rem;
}